<div class="container">
 <h1 class="mb-4">使い方</h1>

  <div class="mb-5">
    <h4>1.日記を書く</h4>
      <p>メニュー内の『今日の記録』またはカレンダー画面の『今日の記録』をタップ<p>
        <%= image_tag 'screenshot.today_diary.png', :size => '500x500' %>
      <p class="pt-5">記録したい感情・写真・日記を入力して『保存する』をタップ</p>
        <%= image_tag 'スクリーンショット：日記新規登録.png', :size => '500x700' %>
      <p class="pt-5">お気に入りに登録した日記はメニューの『<i class="fas fa-star"></i>お気に入り』でチェックできます</p>
        <%= image_tag 'スクリーンショット：お気に入り.png', :size => "500x500" %>
  </div>

  <div class="pt-5">
    <h4>2.書いた日記を見るときは、カレンダー画面の数字をタップ</h4>
        <%= image_tag 'スクリーンショット：日記詳細画面完成版.png',:size => '500x500' %>
        <p>『 <i class="fas fa-book-open"></i>open 』をタップすると、詳細が見れるよ</p>
        <%= image_tag 'スクリーンショット：日記詳細open.png',:size => '500x500' %>
  </div>

  <div class="pb-5">
    <h4 class="pt-5 pb-3">3.書いた日記を編集・削除するときは詳細画面から選択</h4>
        <%= image_tag 'スクリーンショット：日記編集.png', :size => '500x500' %>
  </div>

<div class="mb-5">
  <h4 class="pt-5">4.登録情報を編集するときはメニューの『<i class="fas fa-user"></i>マイページ』から</h4>
      <%= image_tag 'スクリーンショット：マイページへ.png', :size => '500x500' %>
  </h4>
</div>

<p class="pl-5"><%= link_to "完了(カレンダー画面へ)", diaries_path ,class:"btn btn-outline-secondary" %></p>

</div>