<div class="container">
    <h2 class="pt-2 pb-4"><%= @start_date %>の日記</h2>


    <table class ="table">
    <thead>
      <tr class="table-secondary">
        <th>感情</th>
        <th>日記</th>
        <th>画像</th>
        <th></th>
      </tr>
    </thead>
    <% @diaries.each do |diary| %>
    <tbody>
      <tr>
        <td>
          <% diary.image_emotions.each do |emotion| %>
          <%= emotion.emotion.emotion_name %>
          <% end %>
        </td>
        <td>
          <%= diary.diary_detail %>
        </td>
        <td>
          <% diary.images.each do |image| %>
          <%= image_tag image, size: "100x100" %>
          <% end %>
        </td>
        <td>
          <i class="fas fa-book-open"></i>
          <%= link_to "open", diary_path(diary.id), class:"text-secondary" %>
        </td>
      </tr>
    </tbody>
    <% end %>
  </table>
</div>