<div class="container">
    <h1 class="mb-4">お気に入り日記一覧</h1>

    <table class="table">
        <thead>
            <tr>
                <th><i class="fas fa-calendar-alt"></i>日付</th>
                <th><i class="fas fa-heart"></i>感情</th>
                <th><i class="fas fa-images"></i>画像</th>
                <th><i class="fas fa-book-open"></i>日記</th>
                <th><i class="fas fa-star"></i>お気に入り登録を解除する？<th>
            </tr>
        </thead>
         <% @diaries.each do |diary| %>
        <tbody>
            <tr>
                <td><%= link_to diary_path(diary.id) ,class:"text-secondary" do %>
                    <%= diary.start_time.strftime('%Y/%m/%d') %>
                    <% end %>
                </td>
                <td>
                    <% diary.image_emotions.each do |emotion| %>
                    <%= emotion.emotion.emotion_name %>
                    <% end %>
                </td>
                <td>
                    <% if diary.images.present? %>
                        <% diary.images.each do |image| %>
                            <%= image_tag image, size: "70x70" %>
                        <% end %>
                    <% else %>
                        <%= "No Image" %>
                    <% end %>
                </td>
                <td>
                    <%= diary.diary_detail %>
                </td>
                <td>
                    <%= form_with model: diary, url: diary_favorited_off_path(diary.id) , method: :patch, local: true, id: diary.id do |f| %>
                    <%= f.hidden_field :is_favorited, :value => "false" %>
                    <%= f.submit "解除する" ,form: diary.id, class:"btn btn-outline-secondary" %>
                    <% end %>
                </td>
            </tr>
        </tbody>
        <% end %>
    </table>