<div class="container">
    <h1 class="mb-2">日記詳細</h1>
    <p class="diary_box mb-5 title">
     　 <%=@diary.start_time.strftime('%Y/%m/%d') %>
    </p>

    <div class="diary_box mb-5 mt-5">
        <p class="title"><i class="fa-solid fa-images"></i>画像</p>
            <div class="ml-5">
            <% if @diary.images.present? %>
                <% @diary.images.each do |image| %>
                    <%= image_tag image, size: "100x100" %>
                <% end %>
            <% else %>
                <%= "No Image" %>
            <% end %>
            </div>
    </div>

    <div class="diary_box mb-5 mt-5">
        <p class="title"><i class="fa-solid fa-heart"></i>感情</p>
            <div class="ml-5">
            <% @diary.image_emotions.each do |emotion| %>
              <%= emotion.emotion.emotion_name %>
            <% end %>
            </div>
    </div>

    <div class="diary_box mb-5 mt-5">
        <p class="title"><i class="fa-solid fa-book-open"></i>日記</p>
            <div class="ml-5">
            <%= @diary.diary_detail %>
            </div>
    </div>

        <p><i class="fa-solid fa-pen-to-square"></i>
            <%= link_to '編集', edit_diary_path(@diary.id), class:"text-secondary" %></p>
        <p><i class="fa-solid fa-eraser"></i>
            <%= link_to '削除', diary_path(@diary.id), method: :delete, class:"text-secondary", "data-confirm" =>"本当に削除しますか？" %></p>
</div>