<!DOCTYPE html>
<html>
  <head>
    <title>EmotionDiary</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <% if user_signed_in? %>
        <li>
        <%= link_to "今日の記録", new_diary_path %>
        </li>
        <li>
        <%= link_to "カレンダー", diaries_path %>
        </li>
        <li>
        <%= link_to "お気に入り", diaries_path %>
        </li>
        <li>
        <%= link_to "使い方", about_path %>
        </li>
        <li>
        <%= link_to "マイページ", user_path(current_user.id) %>
        </li>
        <li>
        <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
        </li>
      <% end %>
        <% if admin_signed_in? %>
            <li>
            <%= link_to "感情操作", admin_emotions_path %>
            </li>
            <li>
            <%= link_to "ログアウト", destroy_admin_session_path, method: :delete %>
            </li>
        <% end %>
    </header>

    <main>
    <%= yield %>
    </main>

  </body>
</html>
